* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.main {
  font-family:
    Montserrat,
    Gothic A1,
    Arial, 
    Helvetica, 
    sans-serif,
    AvenirNext,
    Avenir,
    -apple-system,
    BlinkMacSystemFont,
    Roboto Slab,
    Droid Serif,
    Segoe UI,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Georgia,
    serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Header */

nav {
    background-color: #383838;
}

.nav-link {
    color: #888888;
}

#home {
    color: #d35266;
}

.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.nav-last {
    display: flex;
    justify-content: end;
}

#name {
    color: #fff;
}

#post-ad {
    background-color: #d35266;
    color: #fff;
}

.nav-item {
    margin: 0 5px;
}

.nav-link:hover,
.search-1:hover {
    color: #fff;
}

.jumbotron {
    padding: 2rem 2rem;
    background-color: #d35266;
    color: #fff;
}

.input-group-prepend {
    margin-right: -1px;
    background-color: #fff
}

.search {
    background-color: #383838;
    color: #888888;
    margin-left: 10px;
    padding: 0px 16px;
    border: none;
} 

.search-1 {
    color: #888888;
    text-decoration: none;
}

.head {
    font-family: Montserrat;
    font-weight: bold;
    color: #fff
}

.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #d35266;
}

.ads {
    max-width: 1020px;
    margin: auto;
}

.car-carousel {
    max-width : 1200px;
    margin: auto;
}

.multi-item,
#multi-item1,
#multi-item,
#multi-item2{
    display: flex;
    justify-content: space-between;
}
#car {
    min-height: 200px;
    display: flex;
}

.card-text1 {
    color: #d35266;
}

.p {
    float: inline-end;
    color: #d35266
}

.plus {
    border: 1px solid #888;
    color: #888888 !important;
    font-size: 18px;
    padding: 0 0.5rem;
}

.ad-img {
    position: relative;
    height: auto;
    background: white;
}

#image-ad {
    height: 100%;
    width: 200px;
} 

.ad-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #383838;
    padding: 5px 0;
}

.overlay {
    color: #d35266;
    font-size: 18px;
    padding: 0 0.5rem;
}

.hot {
    font-family: 'Gothic A1';
    font-weight: 300;
    font-size: 1rem;
}
                    
.car-carousel {
    background-color: #f2f2f2;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    min-height: 200px;
}

#next {
    color: #d35266 !important;
    margin-right: -150px; 
    font-size: 20px;
}

#previous {
    color: #d35266 !important;
    margin-left: -150px;
    font-size: 20px; 
}

.pink-arrow {
    border: 1px solid #696969;
    border-radius: 89px;
    width: 57px;
    padding: 15px;
}

.dark-arrow {
    border: 1px solid #696969;
    width: 57px;
    padding: 15px;
    color: #000;
}

.image-body {
    margin-left: 30px;
}

.image-ad {
    max-width: 100%;
    width: 100px;
    height: auto
}

.title {
    color: #d35266;
    font-family: 'Gothic A1';
}

.carousel-btn {
    background-color: #d35266;
    color: #fff;
    padding: 6px 15px;
}

.car-slide-show {
    display: flex;
    justify-content: space-between;
}

.view {
    color: #d35266;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
}

#footer-divider {
    border: 1px solid #d35266;
}

.copy {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
}

.footer-list1 {
    margin: 0 19px;
}

.list {
    padding: 15px;

}

.list-2 {
    border: 1px solid #696969;
    padding: 10px;
    margin: 5px;
}











